.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.3rem;
    color: #8B7969;
    font-family: 'Inika', serif;
    font-weight: normal;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #e0dfde;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #baa899;
    color: #fff;
    font-weight: normal;
    text-align: left;
    padding-left: 50px;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
    color: #8B7969;
    font-family: 'Inika', serif;
    font-size: 1.1rem;
    padding-left: 20px;
}

.pre-line {
    white-space: pre-line;
    width: 100%;
    outline: none;
    border: none;
    color: #8B7969;
    font-family: 'Inika', serif;
    font-size: 1.1rem;
    padding-left: 20px;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.form__button {
    margin-top: 50px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 120px;
    height: 45px;
    border: none;
    font-size: 1.1rem;
    background-color: #82756a;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
}

.button-back {
    color: #8b7969;
    font-size: 1.1rem;
    cursor: pointer;
}

 /* 全体を少し縮小させて表示する */
.confirm__content {
    transform: scale(0.9);
    transform-origin: top center;
}